*{
    box-sizing: border-box;
    font-family: Abril Fatface, cursive;
    color: #fff;
    background-color:#1d1f23;
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;

}
header div a {
    text-decoration: none;
}
.headertitle {
    font-size: 34px;
    font-stretch: 100%;
    font-weight: 400;
}
ul {
    margin-left: 0;
}
li {
    list-style-type: none;
    padding: 30px;
}
.menu-item-list a {
    font-family: 'Exo 2', sans-serif;
    cursor: pointer;
}
.menu-item-list a:hover {
    color: rgb(202, 32, 32);
}
.container {
    max-width: 1220;
    margin: 0 auto;
    padding: 0 10px;
}
.menu-list {
    display: flex;
    padding-left: 30px;
}
@media (max-width: 775px) {
    .menu-list {
        flex-wrap: wrap;
    }
    }
    
    @media (max-width: 690px) {
        .menu-burger {
            z-index: 5;
            display: block;
            position: relative;
            width: 30px;
            height: 18px;
            cursor: pointer;
            margin-bottom: 41px;
        }
    
        .menu-burger span,
        .menu-burger::before,
        .menu-burger::after {
            position: absolute;
            height: 10%;
            width: 100%;
            transition: all 0.3s ease 0s;
            background-color: #fff;
        }
    
        .menu-burger::before,
        .menu-burger::after {
            content: "";
        }
    
        .menu-burger::before {
            top: 0;
        }
    
        .menu-burger::after {
            bottom: 0;
        }
    
        .menu-burger span {
            top: 50%;
            transform: scale(1) translate(0px -50%);
        }
    
        .menu-burger._active span {
            transform: scale(0) translate(0px, -50%);
        }
    
        .menu-burger._active::before {
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
        }
        .menu-burger._active::after {
            bottom: 50%;
            transform: rotate(45deg) translate(0px, 50%);
        }
    
        .menu {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9); 
            padding: 100px 30px 30px 30px;
            transition: all 0.3s ease 0s;
            overflow: auto;
        }
    
        .menu._active {
            left: 0;
        }
    
        .menu::before {
            content: "";
            width: 100%;
            top: 0;
            left: 0;
            height: 70px;
            background-color: rgba(0, 0, 0, 0.9);
            z-index: 0;
        }
    
        .menu-item-list {
            font-size: 24px;
        }
    }